<div class="container">
<h2>Previous Journal Entry</h2>
</div>

<h1 class="journal-id" style="display: none">{{id}}</h1>

<div class="row mobile">
<div class="col s12 m8 19">
  <div class="row">
        <div class="col s12 gratitude">
            <h3>I am grateful for...</h3>
            <p class="journal-entry">{{gratitude}}</p>
        </div>
        <div class="col s12 great_day">
            <h3>What would make today great?</h3>
            <p class="journal-entry">{{great_day}}</p>
        </div>
        <div class="col s12 affirmation">
            <h3>Daily affirmation</h3>
            <p class="journal-entry">{{affirmation}}</p>
        </div>
        <div class="col s12 highlights">
            <h3>Highlights of the day</h3>
            <p class="journal-entry">{{highlights}}</p>
        </div>
        <div class="col s12 lesson">
            <h3>What did I learn today?</h3>
            <p class="journal-entry">{{lesson}}</p>
        </div>
    </div>
  </div>
<div class="col s4 mood">
  <h3 class="text"></h3>
  <img style="width: 100px; height: 100px;" src="/assets/{{mood}}.png" />
  <br /><br />
  <a href="/prevjournal/edit/{{id}}"><button class="btn">Edit</button></a>
</div>

<script src="/js/prevDate.js"></script>